body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

header.masthead{
	position: relative;
  -webkit-background-size: cover;
  background: url("../img/beauty-salon.jpg") no-repeat center center;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	padding-top: 5rem;
    padding-bottom: 5rem;

}

.features-icons {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.showcase .showcase-text {
  padding: 3rem;
  background-size: cover;

}

.showcase img{
  width: 100%;
}

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

a {
    color: #c74335;
    text-decoration: none;

}

a:hover {
    color: #1043FF;
    font-weight: bold;
    text-decoration: none;
}

li > a {
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  .line-items {
    margin-bottom: 30px;
  }

  header.masthead {
    background: url("../img/Black.jpg") no-repeat center center;
  }

  li > a {
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  }
}
