body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

header.masthead{
	position: relative;
  -webkit-background-size: cover;
  background: url("../img/header-back-desk.jpg") no-repeat center center;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	padding-top: 5rem;
    padding-bottom: 5rem;
}

.features-icons {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.showcase .showcase-text {
  padding: 3rem;
  background-size: cover;
}

.showcase img{
  width: 100%;
}

.title-service{
  padding-top: 30px;
}

.tables-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 50px 20px 50px;
}

.table-desktop{
  display: flex;
}

.table-mobile{
  display: none;
}

th, td{
  height: 60px;
  text-align: center;
  border-bottom: 1px solid #DDDD;
}

th{
  background-color: #c74335DD;
  border-top-left-radius: 30px 20px;
  border-top-right-radius: 30px 20px;
  color: white;
  font-size: 30px;
}

tr:nth-child(even){
  background-color: #F2F2F2;
}

td{
  width: 150px;
}

td:nth-child(3){
  padding-left: 100px;
}

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

a {
  color: #c74335;
  text-decoration: none;
}

a:hover {
  color: #1043FF;
  font-weight: bold;
  text-decoration: none;
}

li > a {
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  .line-items {
    margin-bottom: 30px;
  }

  header.masthead {
    background: url("../img/header-back-mobile.jpg") no-repeat center center;
  }

  li > a {
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  }

  .table-mobile{
    display: flex;
  }
  
  .table-desktop{
    display: none;
  }
}

@media only screen and (max-width: 1250px) {
  .tables-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  div > table {
    /* width: 40%; */
    margin-top: 40px;
    margin-left: 0px;
  }
}
